.dashboard {
    margin: 50px 80px;

    .dashboard-container {
        .dashboard-group {
            display: flex;
            flex-wrap: wrap;

            .dashboard-item {
                width: 20%;
                height: 226px;
            }
        }
    }
}
