<div>
    <section class="dashboard slice_5">
        <div
            class="container"
            data-intro="<h3>Este é o Dashboard da mLabs</h3><p>Aqui você vai verificar, de imediato, a quantidade de curtidas e pessoas engajadas em suas redes sociais e website.</p>"
            data-position="bottom-middle-aligned"
            data-step="1"
        >
            <div class="widget_group">
                <div class="widget widget-dashboard">
                    <div class="widget-front">
                        <div
                            class="widget-icon"
                            style="background: url('/assets/channels/facebook_dashboard_logoff.png') no-repeat 0 0; background-size:contain;"
                        ></div>
                        <div class="widget-help"></div>
                        <h3>Facebook</h3>
                        <div class="widget-login">
                            <a href="javascript:login_facebook()" title="Adicionar">
                                <p>Adicionar</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="widget widget-dashboard">
                    <div class="widget-front">
                        <div class="widget-icon"></div>
                        <div class="widget-help"></div>
                        <h3>Twitter</h3>
                        <div class="widget-login">
                            <a href="javascript:login_twitter()" title="Adicionar">
                                <p>Adicionar</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="widget widget-dashboard">
                    <div class="widget-front">
                        <div class="widget-icon"></div>
                        <div class="widget-help"></div>
                        <h3>Instagram</h3>
                        <div class="widget-login">
                            <a href="javascript:login_instagram()" title="Adicionar">
                                <p>Adicionar</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="widget widget-dashboard">
                    <div class="widget-front">
                        <div class="widget-icon"></div>
                        <div class="widget-help"></div>
                        <h3>Google meu Negócio</h3>
                        <div class="new-feature-channel">beta</div>
                        <div class="widget-login">
                            <a href="javascript:login_google_my_business()" title="Adicionar">
                                <p>Adicionar</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="widget widget-dashboard">
                    <div class="widget-front">
                        <div class="widget-icon"></div>
                        <div class="widget-help"></div>
                        <h3>Pinterest</h3>
                        <div class="widget-login">
                            <a href="javascript:login_pinterest()" title="Adicionar">
                                <p>Adicionar</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget_group">
                <div class="widget widget-dashboard">
                    <div class="widget-front">
                        <div class="widget-icon"></div>
                        <div class="widget-help"></div>
                        <h3>LinkedIn</h3>
                        <div class="widget-login">
                            <a href="javascript:login_linkedin()" title="Adicionar">
                                <p>Adicionar</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="widget widget-dashboard">
                    <div class="widget-front">
                        <div class="widget-icon"></div>
                        <div class="widget-help"></div>
                        <h3>YouTube</h3>
                        <div class="widget-login">
                            <a href="javascript:login_youtube()" title="Adicionar">
                                <p>Adicionar</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="widget widget-dashboard">
                    <div class="widget-front">
                        <div class="widget-icon"></div>
                        <div class="widget-help"></div>
                        <h3>WhatsApp</h3>
                        <div class="new-feature-channel">beta</div>
                        <div class="widget-login">
                            <a href="javascript:login_whatsapp()" title="Adicionar">
                                <p>Adicionar</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="widget widget-dashboard">
                    <div class="widget-front">
                        <div class="widget-icon"></div>
                        <div class="widget-help"></div>
                        <h3>Google Analytics</h3>
                        <div class="widget-login">
                            <a href="javascript:login_analytics()" title="Adicionar">
                                <p>Adicionar</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
