<div>
    <section class="dashboard">
        <div class="container">
            <div class="widget_group">
                <div v-for="(channel, index) of channels" :key="index" class="widget widget-dashboard">
                    <div class="widget-front">
                        <div class="widget-help"></div>
                        <h3 v-html="channel.name"></h3>
                        <div class="widget-login">
                            <button @click="toggleModal(channel.channel_key)">Adicionar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <transition name="modal" v-if="showModal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        default header
                    </div>

                    <div class="modal-body">
                        <p v-for="page of channelsList">{{ `${page.name} - ${page.channel_key}` }}</p>
                    </div>

                    <div class="modal-footer">
                        <button class="modal-back-button" @click="toggleModal">
                            Voltar
                        </button>

                        <button class="modal-default-button" @click="toggleModal">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>
