<div>
    <section class="dashboard">
        <div class="container">
            <div class="widget_group">
                <div v-for="(channel, index) of channels" :key="index" class="widget widget-dashboard">
                    <div class="widget-front">
                        <div class="widget-help"></div>
                        <h3 v-html="channel.name"></h3>
                        <div class="widget-login">
                            <button @click="toggleModal(channel.channel_key)">Adicionar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <transition name="modal" v-if="showModal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <div class="modal-header__title">Vincular página do {{ seletedChannelTitle }}</div>

                        <div id="mdiv" @click="toggleModal">
                            <div class="mdiv">
                                <div class="md"></div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body">
                        <h3>Selecione a página que você deseja vincular a este perfil</h3>
                        <div class="modal-body--item" v-for="page of channelsList" @click="selectedPage = page">
                            <div>
                                <img class="modal-body--item__picture" :src="page.picture" alt="Imagem do perfil" />
                            </div>
                            <div class="modal-body--item__text">
                                <p class="modal-body--item__title">{{ page.name }}</p>
                                <p class="modal-body--item__subtitle">{{ page.url }}</p>
                            </div>
                            <div class="modal-body--item__radio">
                                <input v-model="selectedPage" :value="page" type="radio" name="channel_key_select" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="modal-back-button" @click="toggleModal">
                            Voltar
                        </button>

                        <button class="modal-default-button" @click="selectPage" :disabled="!selectedPage">
                            Próximo
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>
